@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.container {
    @include flexColumn;
    width: 100%;
    height: 100%;
}

.postWrap {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 15rem);
}