@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.article {
    @include flexColumn;
    width: 70%;
    background-color: #fff;
}

.aside {
    width: 15%;
    height: 100vh;
    background-color: beige;
}

.postWrap {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 23rem);
    li:hover {
        transform: scale(1.01);
    }
}