@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.container {
    @include modal;
}

.content {
    @include modalWrap;
    position: relative;
    width: 23rem;
    height: auto;
    background-color: #fff;
    margin-top: $content-margin-top;
    padding: 2rem 0;
    svg {
        position: absolute;
        top: 2rem;
        right: 0;
        cursor: pointer;
    }
}