@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.container {
    width: calc(100% - 2rem - 2px);
    height: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    @include text;
    text-align: start;
    ::placeholder {
        color: $text_gray4;
    }
}