@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
 

.container {
    width: 100%;
    height: auto;
    margin: 2rem 0 1rem 0;
    padding-bottom: 1rem;
    @include flexColumn;
    @include text;
    border-bottom: $border;
}

.inputBox {
    position: relative;
    width: 100%;
    @include flexColumn;
    align-items: flex-start;
    margin-bottom: 1rem;
    &.margin {
        margin-bottom: 1.5rem;
    }
}

.text {
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    font-size: 0.7rem;
    color: $red;
}