@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.logo {
    a {
        @include text;
        @include flexRow;
        svg {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }
        p {
            font-size: 1.5rem;
            font-weight: 700;
            span {
                color: $red;
            }
        }
    }
}