@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';

.container {
    @include container; 
}

.content {
    @include flexColumn;
    z-index: 100;
    svg {
        width: 5rem;
        height: 5rem;
        color: $yellow;
        margin-bottom: 0.5rem;
    }
    p {
        @include text;
        font-size: 1.5rem;
    }
}

.login {
    color: $red;
    border-bottom: 2px solid $red;
    cursor: pointer;
}