@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.textarea {
    @include text;
    @include border2;
    text-align: start;
    padding: 0.5rem;
    margin-right: 1rem;
    width: 50%;
    height: calc(#{$input-height} + 0.5rem);
    border-radius: 5px;
    resize: none;
}