@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
 

.container {
    @include text;
    @include flexColumn;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    button {
        margin-left: 0.25rem;
    }
}

.textarea {
    width: 100%;
}

.button {
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    @include flexRow;
    justify-content: flex-end;
}

.readOnly {
    width: calc(100% - 2rem);
    padding: 1rem;
    @include border2;
    span {
        @include text;
    }
    span:first-child {
        text-decoration: underline;
        color: $blue;
        font-weight: 600;
        margin-right: 0.5rem;
        cursor: pointer;
    }
}