@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/Root.scss';

.container {
    @include text;
    @include flexRow;
    width: 100%;
    justify-content: flex-start;
    button {
        margin-left: 0.25rem;
    }
}

.textarea {
    width: 40rem;
    margin-right: 1rem;
}