@import '../../static/stylesheets/lib/variables';
@import '../../static/stylesheets/lib/mixin';
 

.container {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    @include text;
    @include flexColumn;
    position: relative;
    width: calc(100% - 2rem);
    justify-content: flex-start;
    border-left: 3px solid $gray6;
    button {
        margin-left: 0.25rem;
    }
    &.replycomm {
        width: 100%;
        border-left: none;
        padding-left: 0;
    }
}

.textarea {
    width: 100%;
}

.button {
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    @include flexRow;
    justify-content: flex-end;
}